# 2024-1. 주문패턴분석
*OP_utils.py 파일과 같은 경로에서 사용해야 함*  

**Info**  
기존의 A 중복배치 + B 분할배치 알고리즘을 개선  
-> 사용자의 비율 지정이 가능한 A, B 분할배치 알고리즘을 구현.
  
**OP_utils.py 파일 함수 설명:**  
- rank_analysis(data, rank, order):  
    - *2023년도 사용 함수와 동일한 함수*
    - data: 불러온 원본 데이터
    - rank: rank 변수의 이름
    - order: 주문번호 변수의 이름
- equip_analysis(data, order, sku, quantity, rank, tolerance, max_iter, save_name, exchange_ratio, OTP_ratio, SEP_ratio):
    - data: rank_analysis() 함수 결과물
    - order: 주문번호 변수의 이름  
    - sku: sku code 변수의 이름  
    - quantity: 수량 변수의 이름  
    - rank: rank 변수의 이름
    - tolerance: 오차율(기본값 0.05)
    - max_iter: 반복 작업 횟수(기본값 10^5)
    - save_name: 저장할 파일 이름(기본값 'OP_result')
    - exchange_ratio: 세부조정 시 사용하는 비율(기본값 0.1)
    - OTP_ratio: OTP 분배에 사용하는 비율(dict, 기본값 2그룹 5:5 분할배치)
    - SEP_ratio: 별도설비 분배에 사용하는 비율(list, 기본값 2그룹 5:5 분할배치)

In [1]:
import warnings
warnings.filterwarnings("ignore")

### 1. 변수 설정

#### ✔️ 주문번호, 품목번호, 랭크, 수량 변수의 경우 변수 이름을 작성(*따옴표 안에 넣어줘야 함)
#### ✔️ 설비별 비율은 OTP, SEP을 따로 설정
    ✔️ 하나의 랭크 당 비율 합이 1이 되도록 유지
    ✔️ A, B 그룹 수가 동일하도록 유지.
#### ✔️ 저장할 파일 이름을 지정 가능(저장 경로도 설정 가능)
#### ✔️ 세부 조정을 위해 최대 허용 가능한 오차율, 교환 횟수(처리 시간과 연관), 교환 비율 설정 가능.

In [2]:
# 주문번호
order = 'ORDERKEY'

# 품목번호
sku = 'SKU'

# 랭크
rank = 'Rank'

# 수량
quantity = 'QTYEXPECTED'

# 설비별(그룹별) 비율
## OTP(A, B)
OTP_ratio = {
    'A': [1/3, 1/3, 1/3],
    'B': [0.2, 0.7, 0.1]
}
## 별도설비(C)
SEP_ratio = [0.3, 0.7]

# 저장할 파일 이름(경로도 가능)
save_name = 'OP_result'

# 추가 변수
## 오차율
tolerance = 0.05
## 최대 교환 횟수(처리 시간과 연관)
max_iter = 10**5
## 교환 비율
exchange_ratio = 0.1

### 2. 데이터 불러오기

In [3]:
import pandas as pd

columns = [order, sku, rank, quantity]
# 데이터가 들어있는 경로 지정
data_dir = "./data/OP_Sample_1203_raw_data.xlsx"
data = pd.read_excel(data_dir, usecols=columns)

#### ⬇️데이터 확인용(실행하지 않아도 됨)

In [4]:
data.head(10)

            ORDERKEY            SKU  QTYEXPECTED Rank
0  52912023120200005  8809864751781            1    C
1  52912023120200005  8809838651697            1    A
2  52912023120200005  8809409340104            1    A
3  52912023120200005  8809937598336            1    B
4  52912023120200008  8809598456129            1    A
5  52912023120200008  8809693601004            1    A
6  52912023120200008  8806322114508            1    A
7  52912023120200008  8809438619981            1    C
8  52912023120200012  8806130889230            1    B
9  52912023120200012  8809495894000            9    C

### 3. 함수 불러오기

In [5]:
# 함수 호출
import OP_algorithm
print(dir(OP_algorithm))

['OP_main', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'equip_analysis', 'initial_split_sku', 'pattern_labelling', 'quantity_adjust_OTP', 'quantity_adjust_SEP', 'rank_analysis']

#### ⬇️테스트용(실행하지 않아도 됨)
*테스트용 데이터의 경우, "./data/OP_Sample_1203_raw_data.xlsx" 이름으로 함수 내부에서 지정되어 있음.

In [6]:
OP_algorithm.OP_main(data, order, sku, quantity, rank, save_name="OP_test")

Rank 패턴 분류를 완료하였습니다.
소요된 시간:  0:00:42.599913

Alert: DONE function ranked_data

Alert: Start iteration...
Alert: Ideally divided! (tolerance=5.0%)

QUANTITY
===========================
IDEAL: 56874
OTP 1: 57143
OTP 2: 56605
===========================

TIME
===========================
0:00:00.002151
===========================

Alert: Start iteration...
Alert: Ideally divided! (tolerance=5.0%)

QUANTITY
===========================
IDEAL: 14623
SEP 1: 14359
SEP 2: 14887
===========================

TIME
===========================
0:00:00.000928
===========================

Alert: Start saving...
Alert: ALL DONE!(please check your files)

### 3. 한번에 작업

In [7]:
OP_algorithm.OP_main(data, order, sku, quantity, rank, tolerance=tolerance, max_iter=max_iter, save_name=save_name,
               exchange_ratio=exchange_ratio, OTP_ratio=OTP_ratio, SEP_ratio=SEP_ratio)

Rank 패턴 분류를 완료하였습니다.
소요된 시간:  0:00:42.175406

Alert: DONE function ranked_data

Alert: Start iteration...
Alert: May not be equally divided
===========================
minimum difference: 0.032
maximum difference: 0.056
===========================

QUANTITY
===========================
IDEAL: 37916
OTP 1: 37002
OTP 2: 40123
OTP 3: 36623
===========================

TIME
===========================
0:07:43.060058
===========================

Alert: Start iteration...
Alert: Ideally divided! (tolerance=5.0%)

QUANTITY
===========================
IDEAL: 14623
SEP 1: 14028
SEP 2: 15218
===========================

TIME
===========================
0:00:00.007262
===========================

Alert: Start saving...
Alert: ALL DONE!(please check your files)

### 4. 단계별 작업

#### 1) rank 패턴 할당

In [8]:
ranked_data = OP_algorithm.rank_analysis(data, rank, order)

Rank 패턴 분류를 완료하였습니다.
소요된 시간:  0:00:24.866332

#### ⬇️데이터 확인용(실행하지 않아도 됨)

In [9]:
ranked_data.head(10)

            ORDERKEY            SKU  QTYEXPECTED Rank    Rank패턴
0  52912023120200005  8809864751781            1    C  pattern7
1  52912023120200005  8809838651697            1    A  pattern7
2  52912023120200005  8809409340104            1    A  pattern7
3  52912023120200005  8809937598336            1    B  pattern7
4  52912023120200008  8809598456129            1    A  pattern5
5  52912023120200008  8809693601004            1    A  pattern5
6  52912023120200008  8806322114508            1    A  pattern5
7  52912023120200008  8809438619981            1    C  pattern5
8  52912023120200012  8806130889230            1    B  pattern6
9  52912023120200012  8809495894000            9    C  pattern6

#### 2) 설비 패턴 할당

In [10]:
OP_algorithm.equip_analysis(ranked_data, order, sku, quantity, rank, tolerance=tolerance, max_iter=max_iter, save_name=save_name,
               exchange_ratio=exchange_ratio, OTP_ratio=OTP_ratio, SEP_ratio=SEP_ratio)

Alert: Start iteration...
Alert: May not be equally divided
===========================
minimum difference: 0.029
maximum difference: 0.058
===========================

QUANTITY
===========================
IDEAL: 37916
OTP 1: 36834
OTP 2: 40164
OTP 3: 36750
===========================

TIME
===========================
0:08:27.738541
===========================

Alert: Start iteration...
Alert: Ideally divided! (tolerance=5.0%)

QUANTITY
===========================
IDEAL: 14623
SEP 1: 14031
SEP 2: 15215
===========================

TIME
===========================
0:00:00.080981
===========================

Alert: Start saving...

#### 3) 최종 데이터 확인

In [11]:
final_data = pd.read_excel(f'{save_name}.xlsx')
final_data.head(10)

,ORDERKEY,SKU,QTYEXPECTED,Rank,Rank패턴,EQUIP,EQUIP패턴
0,52912023120200005,8809864751781,1,C,pattern7,SEP 2,pattern13
1,52912023120200005,8809838651697,1,A,pattern7,OTP 3,pattern13
2,52912023120200005,8809409340104,1,A,pattern7,OTP 3,pattern13
3,52912023120200005,8809937598336,1,B,pattern7,OTP 1,pattern13
4,52912023120200008,8809598456129,1,A,pattern5,OTP 1,pattern13
5,52912023120200008,8809693601004,1,A,pattern5,OTP 3,pattern13
6,52912023120200008,8806322114508,1,A,pattern5,OTP 1,pattern13
7,52912023120200008,8809438619981,1,C,pattern5,SEP 2,pattern13
8,52912023120200012,8806130889230,1,B,pattern6,OTP 2,pattern23
9,52912023120200012,8809495894000,9,C,pattern6,SEP 1,pattern23

In [12]:
print('Rank summary: ')
print(final_data.Rank.value_counts().sort_index(),'\n')
print('Rank패턴 summary: ')
print(final_data.Rank패턴.value_counts().sort_index(),'\n')
print('EQUIP(행수) summary: ')
print(final_data.EQUIP.value_counts().sort_index(),'\n')
print('EQUIP(작업량) summary: ')
print(final_data.groupby('EQUIP')[quantity].sum(),'\n')
print('EQUIP패턴 summary: ')
print(final_data.EQUIP패턴.value_counts().sort_index(),'\n')

Rank summary:
A    49309
B    49394
C    24687
Name: Rank, dtype: int64

Rank패턴 summary:
pattern1      406
pattern2     3239
pattern3      620
pattern4    39082
pattern5    11368
pattern6    11074
pattern7    57601
Name: Rank패턴, dtype: int64

EQUIP(행수) summary:
OTP 1    31069
OTP 2    37283
OTP 3    30351
SEP 1    10539
SEP 2    14148
Name: EQUIP, dtype: int64

EQUIP(작업량) summary:
EQUIP
OTP 1    36834
OTP 2    40164
OTP 3    36750
SEP 1    14031
SEP 2    15215
Name: QTYEXPECTED, dtype: int64

EQUIP패턴 summary:
pattern1       286
pattern10     2677
pattern11     4080
pattern12     2208
pattern13     5696
pattern14      908
pattern15     1212
pattern16     1380
pattern17     1325
pattern18     6474
pattern19     4370
pattern2      7046
pattern20     2741
pattern21     5958
pattern22     1460
pattern23     1829
pattern24     2516
pattern25      120
pattern26      892
pattern27      934
pattern28     1451
pattern29       63
pattern3     24799
pattern30      407
pattern31      150
pattern4      9937
pattern5      3780
pattern6     13945
pattern7      4717
pattern8      3143
pattern9      6886
Name: EQUIP패턴, dtype: int64